<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="lol">

    
    <div class="all">
        <div class="tops">
            <h1 class="title">
                WE HEALTH
            </h1>
            <h1 class="normal">
                ถ้าคุณกำลังหาเพื่อออกกำลังกายอยู่คุณเจอเเล้ว 
            </h1>
            <h1 class="normal"> 
                เราคือผู้ช่วยหาเพื่ออกกำลังกาย อันดับ 1 
            </h1>
        </div>
        <div>
            <button >
                <a href="/">ทดลองใช้งาน</a>
            </button>
        </div>
    </div>
    </div>
</body>
</html>