.title{
    font-size: 56px;
    margin-top: 70%;
    margin-bottom: 70px;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.tops{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.normal{
    font-size: 24px;
}
button{
    display: block;
    border-radius: 4px;
    padding: 10px 14px;
    margin-top: 50%;
    color: rgb(5, 5, 5);
    background-color: rgb(203, 108, 230);
    border: none;
}
.lol{
    height: 100vw;
    width: 100vw;
    justify-content: center;
    align-items: center ;

}
a{
    text-decoration: none;
}